# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.eggs/

# Virtual environment
venv/

# Test coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook files
.ipynb_checkpoints/

# VS Code settings
.vscode/
